<%- include ("./partials/navbar"); %> <%- include ("./partials/headingbar"); %>

<div class="wrapper">
  <div class="search-container">
    <div class="search-element">
      <h3>
        <i class="fa-solid fa-magnifying-glass"></i> Search here <%= user.name.split(" ")[0]
        %> :
      </h3>
      <input
        type="text"
        class="form-control"
        placeholder="Search Movie..."
        id="movie-search-box"
        onkeyup="findMovies()"
        onclick="findMovies()"
      />
      <div class="search-list" id="search-list"></div>
    </div>
  </div>
  <div class="container">
    <div class="result-container">
      <div class="result-grid" id="result-grid"></div>
    </div>
  </div>
</div>
<script src="../static/script.js"></script>
